<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DEALS DEALS DEALS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    
</head>
<body ng-app="shoppingCart">
    <div class="container">
            <div id="sidebar" ng-controller="shoppingCartsController as cart">
                <span id="cartBanner"><br>Your Cart</span>
                    <div ng-repeat="cartItem in cart.cart track by $index">{{cartItem.type}} {{cartItem.category}}  ({{cartItem.counter}}) <button ng-click="cart.removeItems(item)" id="remove">x</button></div>
                    <div np-repeat="cartItem in cart.cart track by $index">Subtotal: ${{cart.subTotal.total}}</div>   
            </div>
            <div id="itemList" ng-controller="shoppingCartsController as cart">
                    <div id="mS-{{item.type}}" class="col-sm-4 well row itemList" ng-repeat="item in cart.items track by $index">
                      <img class="pics" ng-src="{{item.image}}">
                      <p>Material: {{item.type}}</p>
                      <p>Quantity: <span class="quantity">{{item.quantity}}</span></p>
                      <p>Price: ${{item.price}}</p>
                      <button id="button" ng-if="item.quantity >0" ng-click="cart.addItems(item)">Add this to your cart!</button>  
                      <button id="soldout" ng-if="item.quantity ===0" ng-disabled="item.quantity ===0">Sold out!</button>
                    </div>      
                </div>   
    </div>              
    <script 
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.js"></script>
<script 
    src="js/app.js"></script>
<script 
    src="js/controllers/shoppingCartsController.js"></script>
<script 
    src="js/service/shoppingCartService.js"></script>
<script 
    src="js/service/itemService.js"></script>           
</body>
</html>